@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&family=Whisper&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    object-fit: cover;
}

:root {
    --background-color: #ffffff;
    --text-color: #333333;
    --link-color: #2563eb;
    --light-color: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
    --accent-color: #3f83f8;
    --primary-color: #6366f1;

}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
}

.container {
    background-color: var(--background-color);
    width: 100vw;
    height: 100vh;

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin: 5px;
    gap: 7px;
}

.logo_img {
    height: 1.8rem;
    width: 1.8rem;
}

.text {
    font-size: 1.5rem;
    font-weight: 600;
}

.nav {
    width: 53%;
    display: none;
    gap: 25px;
    font-size: 1rem;
    transition: color 0.1s;

}

@media screen and (min-width:769px) {
    .nav {
        display: flex;
        justify-content: center;
    }
}

.nav>a {
    color: #718096;
}

.nav>a:hover {
    color: var(--link-color);
}

#contact {
    background-color: var(--primary-color);
    display: none;
    width: 110px;
    height: 35px;
    color: var(--background-color);
    font-size: 1.1rem;
    border: none;
    transition: all 0.1s;
    border-radius: 5px;
}

@media screen and (min-width:769px) {
    #contact {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#contact:hover {
    background-color: #5254f8;
}

.menu-button {
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    /* background-color: var(--background-color); */
    padding: 0.5rem 0.9rem;
}

@media screen and (max-width:768px) {
    .menu-button {
        display: block;
    }


}

.menu-icon {
    height: 1.3rem;
    width: 1.3rem;

}

.content {
    width: 100%;
    /* height:80%; */
    margin: 0 auto;
    margin-top: 3%;


}

.content_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height:100%; */
    gap: 20px;
}

.content_left {
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 90%;
    height: 60%;
    gap: 18px;
    overflow: visible;
    animation: slidefromleft 1s ease forwards;
}

@keyframes slidefromleft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.p1 {
    color: var(--primary-color);
    font-size: 1.2rem;
    font-weight: 800;
    overflow: visible;
}

.content_heading {
    font-size: 2.2rem;
    text-align: center;
    overflow: visible;
}

@media screen and (max-width:350px) {
    .content_heading {
        font-size: 1.5rem;
        text-align: center;
        overflow: visible;
    }

    .p1 {

        font-size: 0.7rem;
        overflow: visible;
    }

    .p2 {
        font-size: 0.5rem;
        overflow: visible;
    }

    .button1 {
        width: 100%;
        height: 80%;
        font-size: 12px;
        padding: 5px;
        text-align: center;

    }

    .button2 {
        width: 100%;
        height: 80%;
        font-size: 12px;
        padding: 5px;
        text-align: center;
    }

    .content_right {
        width: 80%;
        height: 70%;

    }

    .text {
        font-size: 1rem;
        font-weight: 500;
    }

    .menu-icon {
        height: 1rem;
        width: 1rem;

    }
}

.p2 {
    text-align: center;
    color: var(--gray);
    font-weight: 500;
    display: flex;
    /* gap:3px; */
    font-size: 1.08rem;
    overflow: visible;
}

.button_section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 30%;
    /* margin-top: 10px; */
    overflow: visible;
}

.button1 {
    width: 17%;
    height: 45px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button2 {
    width: 18%;
    height: 45px;
    background-color: var(--text-color);
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_right {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.content_image {
    border-radius: 25px;
}

@media screen and (min-width:768px) {
    .content_section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        /* height:100%; */
        gap: 20px;
    }

    .content_left {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        width: 50%;
        /* height:80%; */
        gap: 20px;
        overflow: visible;
        padding-left: 10%;

    }

    .content_right {
        width: 50%;
        /* height:100%; */
        display: flex;
        justify-content: start;
        align-items: start;
        border: none;
        border-radius: 10px;
        overflow: hidden;
    }

    .content_image {
        width: 70%;
        height: 70%;
        border-radius: 25px;
        margin-left: 11%;
    }

    .content_heading {
        font-size: 2.8rem;
        text-align: start;
        overflow: visible;
        width: 80%;
    }

    .p2 {
        text-align: start;
        display: flex;
        /* gap:3px; */
        font-size: 1.08rem;
        overflow: visible;
        color: var(--gray);
        width: 80%;
    }

    .button_section {
        display: flex;
        justify-content: start;
        align-items: start;
        gap: 20px;
        width: 100%;
        height: 30%;
        margin-top: 10px;
        overflow: visible;
    }

    .header {
        width: 80%;
    }
}

.grid-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 10px;
    animation: slidefromleft 1s ease forwards;

}

.heading {
    margin-top: 1.5rem;
    font-size: 1.5rem;
}

.grid_content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
    background-color: var(--light-color);
    padding: 1.5rem;
    min-height: auto;

}

.grid_item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.grid_img {
    height: 1.7rem;
}

.grid_text {
    font-size: 1rem;
    font-weight: bold;
    color: var(--gray);
}

@media screen and (min-width:768px) {
    .grid_content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        gap: 2rem;
        background-color: var(--light-color);
        padding: 1.5rem;
        min-height: auto;
        border-radius: .8rem;

    }

    .heading {
        font-size: 2rem;
        margin-top: 50px;
    }
}

.card_container {
    background-color: var(--light-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
}

.card_content {
    max-width: 830px;
    display: flex;
    flex-direction: column;
}

.card_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.8rem;
    gap: 1.1rem;
    margin-bottom: 1.5rem;
}

h1,
p {
    display: flex;
    justify-content: center;
}

p {
    text-align: center;
    color: var(--gray);
}

.card_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin: 0rem 2rem;
    margin-bottom: 100px;
}

.card_image {
    height: 2.8rem;
    width: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 50%;
}

.card_image>img {
    height: 1.5rem;
    width: 1.5rem;
}

.card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1.8rem;
    border-radius: 10px;
}

.card1:nth-child(1) {
    background-color: #4a90e2;
}

.card1:nth-child(2) {
    background-color: #FF6289;
}

.card1:nth-child(3) {
    background-color: #fcbf58;
}

.card1:nth-child(4) {
    background-color: #44bfc3;
}

.card1:nth-child(5) {
    background-color: #77b05d;
}

.card1:nth-child(6) {
    background-color: #7d78b1;
}

.card1>h1 {
    font-size: 1.1rem;
    color: var(--background-color);
}

.card1>p {
    font-size: 0.8rem;
    color: var(--background-color);
    margin-bottom: 2rem;
    text-align: center;
}

@media screen and (max-width:768px) {

    .card_section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
        margin: 2rem 2rem;
        margin-bottom: 10px;
    }

    .card1>p {
        width: 60%;
    }
}

.testimonial_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.testimonial_content {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* gap:1.5rem; */
    align-items: center;

}

.testimonial_content>h2 {
    margin-top: 1.8rem;
}

.testimonial_grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    overflow: hidden;
    padding: 1.5rem;
}

.testimonial_card {
    display: flex;
    flex-direction: column;
    border: 4px solid var(--light-color);
    align-items: center;
    padding: 1rem;
    gap: 0.8rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    border-radius: 5px;
}

.testimonial_card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid blue;
}

.avtar>img {
    height: 4.1rem;
    width: 4.1rem;
}

.name {
    color: var(--link-color);
    font-size: 1.1rem;
    margin-bottom: 0px;
}

.para {
    color: var(--gray);
    font-size: 0.7rem;
}

.dhanda {
    font-size: 0.8rem;
    color: var(--text-color);
}

/* newsletter section */
.newsletter_container {
    display: flex;
    width: 100%;
    height: 40%;
    justify-content: center;

}

.newsletter_content {
    display: flex;
    width: 72%;
    border-radius: 8px;
    background-color: var(--light-color);
}

.left_section {
    width: 50%;
    height: 100%;
    overflow-y: hidden;

}

.left_image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center;
}

.right_section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.right_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 6rem;
    margin-left: 50px;
}

.right_content>h1 {
    display: flex;
    justify-content: start;
    color: var(--primary-color);
}

.right_content>p {
    display: flex;
    justify-content: start;
    margin-top: 2px;
    color: #777;
    font-size: 15px;
}

input {
    height: 28px;
    padding: 0px 10px;
    margin-top: 15px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid var(--gray);

}

input:active {
    border: 2px solid blue;
    box-shadow: 2px 2px 5px 5px rgb(77, 77, 167);

}

.send {
    height: 28px;
    width: 55px;
    background-color: var(--primary-color);
    border: none;
    color: white;
    border-radius: 3px;
}

.send:hover {
    background-color: var(--accent-color);
}

.info_test {
    color: #777;
    display: flex;
    justify-content: start;
    margin-top: 15px;
    font-size: 11px;
    object-fit: contain;
    /* margin-right: 5px; */
}

/* .policy{
    margin:0px 3px;
} */
@media screen and (max-width:761px) {
    .left_section {
        display: none;
    }

    .right_section {
        width: 100%;
    }
}

/* footer section */
.footer_container {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_content {
    width: 72%;
    display: flex;
    flex-direction: column;
}

.footer_top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 6rem;
}

.footer_left {
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.logo2 {
    display: flex;
    align-items: center;
    color: var(--text-color);
    margin: 5px;
    gap: 7px;
}

.logo2_img {
    height: 1.6rem;
    width: 1.6rem;
}

.text2 {
    font-size: 1.4rem;
    font-weight: 600;
}

.footer_desc {
    display: flex;
    justify-content: start;
    font-size: smaller;
}

.footer_social_icons {
    display: flex;
    gap: 1.2rem;
}

.insta>img {
    height: 1.8rem;
    width: 1.8rem;
}

.footer_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    width: 77%;
    margin-left: 10rem;
    font-weight: 600;
}

.list {
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
    list-style-type: none;
    text-decoration: none;


}

.list>a {
    color: #777;
    margin-top: 1.5rem;
    font-size: smaller;
}

.footer_bottom {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--gray);
    margin-top: 5rem;
    margin-bottom: 2.5rem;
    gap: 5rem;
}

.footer_bottom>p {
    margin-top: 3rem;
    font-size: small;
}

@media screen and (max-width:1080px) {
    .footer_top {
        flex-direction: column;
        gap: 2rem;
    }

    .footer_left {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .footer_grid {
        width: 100%;
        justify-content: space-evenly;
        align-self: center;
    }
}

@media screen and (max-width:850px) {
    .footer_grid {
        grid-template-columns: repeat(2, 1fr);
        padding-right: 4rem;
    }
}